button {
    font-size: 19px;
    flex-shrink: 0;
    line-height: 1.15;
    background: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    user-select: none;
    border-radius: 16px;
    border-style: solid;
    font-family: sans-serif;
    overflow: visible;
    padding: 12px 16px;
    outline: none;
}

button.submit {
    font-size: 16px;
    border-width: 0 0 4px;
    border-color: #58a700;
    background-color: rgb(88, 204, 2);
    color: white;
    cursor: pointer;
    font-weight: bold;
    max-width: 150px;
    min-width: 150px;
}

button.on_the_right {
    position: absolute;
    left: 430px;
    top: 10px;
}

.correct_feedback {
    background-color: rgb(215, 255, 184);
}

.incorrect_feedback {
    background-color: rgb(255, 223, 224);
}

.feedback_text {
    position: absolute;
    left: 160px;
    top: 15px;
    font-size: 23px;
}

.correct_feedback_text {
    color: rgb(88, 167, 0);
}

.incorrect_feedback_text {
    color: rgb(236, 11, 27);
}

button.submit:hover {
    border-width: 0 0 4px;
    background-color: rgb(96, 223, 2);
}

button.submit:active {
    border-width: 0;
    background-color: rgb(96, 223, 2);
    transform: translateY(4px);
}

button.red_submit {
    font-size: 16px;
    border-width: 0 0 4px;
    border-color: rgb(234, 43, 43);
    background-color: rgb(255, 75, 75);
    color: white;
    cursor: pointer;
    font-weight: bold;
    max-width: 150px;
    min-width: 150px;
}

button.red_submit:hover {
    border-width: 0 0 4px;
    background-color: rgb(255, 96, 96);
}

button.red_submit:active {
    border-width: 0;
    background-color: rgb(255, 96, 96);
    transform: translateY(4px);
}

button.word {
    border-width: 2px 2px 4px;
    border-color: #e5e5e5;
}

button.word:active {
    border-width: 2px 2px 2px;
    border-color: #e5e5e5;
    transform: translateY(2px);
}

button.displayed {
    color: #4b4b4b;
    cursor: pointer;
}

button.not_displayed {
    color: #e5e5e5;
    background-color: #e5e5e5;
}

.annotated {
    border-bottom: 3px dotted rgb(175, 175, 175);
}

.problem {
    box-sizing: border-box;
    outline: none;
    line-height: 39px;
    color: #3c3c3c;
    padding: 12px 24px;
    overflow: visible;
    user-select: auto;
    outline: none;
    text-align: initial;
}

.response {
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    padding: 6px;
    min-height: 51.6px;
    max-height: 51.6px;
}

.candidates {
    padding: 50px 0 0 0;
}

.submission_or_feedback {
    position: relative;
    height: 100px;
}

